* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
ol {
  list-style-type: none;
}

a,
a:hover {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
ol,
ul,
li {
  padding-bottom: none;
}

.title {
  color: red;
  text-transform: capitalize;
  padding: 30px 50px;
}

.conatiner {
  padding: 20px 8%;
  display: flex;
}